<div class="character-selection">
  <h3>Select Your Character</h3>
  <form id="character-form">
    <label for="character-name">Name:</label>
    <input type="text" id="character-name" name="character-name" required />

    <label for="character-type">Type:</label>
    <select id="character-type" name="character-type" required>
      <option value="warrior">Warrior</option>
      <option value="wizard">Wizard</option>
      <option value="archer">Archer</option>
    </select>

    <button type="submit">Create Character</button>
  </form>
  <button id="logout">Log out</button>
</div>

<div id="map"></div>

<script id="characters-data" type="application/json">
  {{{json characters}}}
</script>

<script src="/js/character.js"></script>
<script src="/js/logout.js"></script>